<p><%= @list.name %></p>
<p><%= link_to 'New Card', new_list_card_path(@list)  %></p>


 <%= link_to 'Edit', edit_board_list_path(@list.board_id, @list) %>
 <%= link_to 'Destroy', board_list_path(@list.board_id, @list), 'data-confirm' => 'Are you sure?' ,method: :delete %>

 <p>Comment here</p>
  <%= form_for @comment do |f| %>
  <%= f.hidden_field :list_id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.text_area :content %>
  <%= f.submit 'Comment here' %>
<% end %>

<h3>Comments</h3>
<% @list.comments.each do |comment| %>
  <p>
  	<%= comment.content %>
  	<% if comment.persisted? %>
	  	<%= link_to 'Destroy', comment_path(comment), method: :delete %>
	   <% end %>
  </p>
<% end %>

<!-- <h2> List of cards</h2> -->
<!-- <ul> -->
  <!-- <% @list.cards.each do |card| %> -->
    <!-- <li><%= link_to card.name, list_card_path(@list, card) %></li> -->
  <!-- <% end %> -->
<!-- </ul> -->

<h2 id='labels-card' class='labels'> List of cards</h2>
<ul id='cards'>
  <% @list.cards.each do |card| %>
    <li id="card-<%= card.id %>"><%= link_to card.name, list_card_path(@list, card)  %>
      <%= link_to 'Destroy', list_card_path(@list, card), method: :delete, remote: true %>
    </li>
  <% end %>
</ul>

<p>Create new card</p>
<% new_card = @list.cards.new %>
<%= form_for [@list, new_card], remote: true do |f| %>
  <%= f.hidden_field :list_id, value: @list.id %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>