<p><%= @list.name %></p>
<p><%= link_to 'New Card', new_list_card_path(@list)  %></p>


 <%= link_to 'Edit', edit_board_list_path(@list.board_id, @list) %>
 <%= link_to 'Destroy', board_list_path(@list.board_id, @list), 'data-confirm' => 'Are you sure?' ,method: :delete %>

<h2 id='labels-card' class='labels'> List of cards</h2> -->
<ul id='cards'>
  <% @list.cards.each do |card| %>
    <li id="card-<%= card.id %>"><%= link_to card.name, list_card_path(@list, card)  %>
      <%= link_to 'Destroy', list_card_path(@list, card), method: :delete, remote: true %>
    </li>
  <% end %>
</ul>

<p>Create new card</p>
<% new_card = @list.cards.new %>
<%= form_for [@list, new_card], remote: true do |f| %>
  <%= f.hidden_field :list_id, value: @list.id %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>