$('#modal-<%= @card.id %> .comments').append('<li><%= @comment.content %></li>');
$('#modal-<%= @card.id %> .comments').append('<li><%= @comment.user.name %></li>');
$('#modal-<%= @card.id %> .comments').append('<li><%= @comment.created_at %></li>');
$('#modal-<%= @card.id %> #comment_content').val('');