<div id="card-<%= card.id %>"> 
	<div id="modal-<%= card.id %>" class="modal">
		<h3><%= card.name %></h3>
	    <p><%= card.description %></p>
	</div>

	<p>
		<a href="#modal-<%= card.id %>" rel="modal:open">
		<%= card.name %></a>
		<%= link_to 'Destroy', list_card_path(card.list, card), method: :delete, remote: true %>
	</p>
</div>