<div id="card-<%= card.id %>" class='card-in-list'> 
	<div id="modal-<%= card.id %>" class="modal">
		<h3>
			<%= card.name %>

		<%= link_to list_card_path(card.list, card), class: 'card-trash', method: :delete, remote: true do %>
			<%= fa_icon "trash" %>
		
		<% end %>

		</h3>
	    <p><%= card.description %></p>

        <div>
		    <% card.labels.each do |label| %>
		      <div class='label' style="background-color: <%= label.color %>"></div>
		    <% end %>
		</div>

		<div id="ex1" class="modal">
		  <p>Thanks for clicking. That felt good.</p>
		  <a href="#" rel="modal:close">Close</a>
		</div>

		<p><a id='label-select' href="#">Open Modal</a></p>


		
	    <div>
	    	<% comment = card.comments.new %>
	    	<%= form_for [card, comment], remote: true do |f|%>
	    	  <%= f.hidden_field :user_id, value: current_user.id %>
	    	  <%= f.hidden_field :card_id, value: card.id %>
	    	  <p><%= fa_icon "comment-o" %>  Add Comment</p>
	    	  <p><%= f.text_field :content, class: 'write-a-comment', placeholder: "Write a comment..." %></p>
	    	<% end %>
	    </div>

	    <ul class='comments'>
	    	<% card.comments.each do |comment| %>
	    	  <% if comment.persisted? %>
		    	  <%= render 'comment_modal', comment: comment %>
		      <% end %>
	    	<% end %>
	    	
	    </ul>
	    
	</div>


	<a href="#modal-<%= card.id %>" rel="modal:open" class='card-name'><%= card.name %></a>
	<a id="comment-count-<%=comment.card.id%>"><%= fa_icon "commenting-o" %> <%= card.comments.count %></a>
</div>