<div id="card-<%= card.id %>" class='card-in-list'> 
	<div id="modal-<%= card.id %>" class="modal">
		<h3><%= card.name %></h3>
	    <p><%= card.description %></p>
	</div>

	<a href="#modal-<%= card.id %>" rel="modal:open" class='card-name'><%= card.name %></a>
</div>