<div id="card-<%= card.id %>" class='card-in-list'> 
	<div id="modal-<%= card.id %>" class="modal">
		<h3><%= card.name %></h3>
	    <p><%= card.description %></p>

        <h3>Comments</h3>
	    <ul class='comments'>
	    	<% card.comments.each do |comment| %>
	    	  <div>
		    	  <b>Name :<%= comment.user.name %></b>
		    	  <div class='card-content'>Comment :<%= comment.content %></div>
		    	  <small>Answered :<%= time_ago_in_words(comment.created_at) %></small>
		      </div>
	    	<% end %>
	    	
	    </ul>
	    <div>
	    	<% comment = card.comments.new %>
	    	<%= form_for [card, comment], remote: true do |f|%>
	    	  <%= f.hidden_field :user_id, value: current_user.id %>
	    	  <%= f.hidden_field :card_id, value: card.id %>
	    	  <%= f.text_field :content, placeholder: "Comment..." %>
	    	<% end %>
	    </div>
	</div>

	
	<a href="#modal-<%= card.id %>" rel="modal:open" class='card-name'><%= card.name %></a>
</div>