<div id="comment-<%= comment.id %>" class='comment-in-card'>
  <b><%= fa_icon "user" %> :<%= comment.user.name %></b>
  
  <div class='comment-content1'>

  	<div id='comment-zone-<%= comment.id %>'><%= comment.content %>
  		
  	</div>
  	

  </div>

  <small id='editer-<%=comment.id %>'><%= fa_icon "eye" %> :<%= time_ago_in_words(comment.created_at) %>  - </small>
  <%= link_to 'Edit', edit_card_comment_path(comment.card, comment) , remote: true %> -
  <%= link_to 'Destroy', card_comment_path(comment.card, comment),'data-confirm' => 'Are you sure?' ,method: :delete, remote: true %>
</div>


	   