<li id="new-list-<%= list.id %>" class='list-column'>
		<div class='list-title'>
			<%= list.name %>
			<%= link_to board_list_path(board, list), class: 'list-trash', method: :delete, remote: true do %>
				<%= fa_icon "trash" %>
			<% end %>
		</div>

		<div id="" style="overflow-y: scroll; height:200px;"> 

		  	<ul class="cards"> 
		  		<% list.cards.each do |card| %> 

		  		  <%= render 'card_modal', card: card %>

		  		<% end %>
		  	</ul>
	  	</div>

	  	<div>
  			<p>Create new card</p>
			<% new_card = list.cards.new %> 
			<%= form_for [list, new_card],  remote: true do |f| %>
			<%= f.hidden_field :list_id, value: list.id %>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<%= f.text_field :name, placeholder: :name %>
			<%= f.text_field :description, placeholder: :description %>
			<%= f.submit "Add a card ..."%>
			<% end %>
			
	    </div>
</li> 


	  	
