<li id="new-list-<%= list.id %>" class='list-column droppable' data-list-id="<%= list.id %>">
		<div class='list-title'>
			<%= list.name %>
			<%= link_to board_list_path(board, list), class: 'list-trash', 'data-confirm' => 'Are you sure?' ,method: :delete, remote: true do %>
				<%= fa_icon "trash" %>
			<% end %>
		</div>

		<a href="#" id="toggle-down-<%=list.id%>" class='toggle-down'><%= fa_icon "toggle-down" %></a>

		<div class='toggle-down-icon' id="toggle-down-icon-<%=list.id%>" style="display: none">
			<label>Move list</label>
				<%= form_for list, url:move_list_list_path(list.id), method: :put, remote: true do |f|%>
				<p><%= f.select :list_position, (1..@board.lists.count).map{|e| [e.to_s, e]}, {}, { id: "select-list-member-#{list.id}" } %>
				<%= f.submit :Move %>
				</p>
				<%end%>

		</div>


		<div id="" style="overflow-y: scroll; height:200px;"> 

		  	<ul class="cards"> 
		  		<% list.cards.order('created_at DESC').each do |card| %> 

		  		  <%= render 'card_modal', card: card %>

		  		<% end %>
		  	</ul>
	  	</div>

	  	<div>
  			<p>Create new card</p>
			<% new_card = list.cards.new %> 
			<%= form_for [list, new_card],  remote: true do |f| %>
			<%= f.hidden_field :list_id, value: list.id %>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<%= f.text_field :name, placeholder: :name %></p>
			<%= f.text_field :description, placeholder: :description %>
			<%= f.submit "Add a card ...", class:"btn-default"%>
			<% end %>
	    </div>
	   
</li> 


	  	
