<h1><%= @board.name %></h1>

<ul id='list'>
	<% @board.lists.each do |list| %>
		<li id="new-list-<%= list.id %>" class='list-column'>
			<div class='list-title'><%= list.name %></div>
			<div id="" style="overflow-y: scroll; height:400px;"> 
	  	<ul class="cards"> 
	  		<% list.cards.each do |card| %> 
	  		  <%= render 'card_modal', card: card %>
	  		<% end %>
	  		</li> 


	  	</ul>

	  	<div>
  			<p>Create new card</p>
			<% new_card = list.cards.new %> 
			<%= form_for [list, new_card],  remote: true do |f| %>
			<%= f.hidden_field :list_id, value: list.id %>
			<%= f.text_field :name, placeholder: :name %>
			<%= f.text_field :description, placeholder: :description %>
			<%= f.submit %>
			<% end %>
			
	    </div>
	  </li>
	<% end %>
</ul>

<div>

<p>Create new list</p>
<% new_list = @board.lists.new %>
<%= form_for [@board, new_list], remote: true do |f| %>
  <%= f.hidden_field :board_id, value: @board.id %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
</div>


<ul id='event'>
	<% @board.events.each do |event| %>
	  		<li id="new-event-<%= event.id %>"><%= link_to event.title, board_event_path(@board, event)  %>
	  		<%= link_to 'Destroy', board_event_path(@board, event), method: :delete, remote: true %>
	  		<% end %>
	  		</li>
	<p>Create new event</p>
	<% new_event = @board.events.new %>
	<%= form_for [@board, new_event], remote: true do |f| %>
	  <%= f.hidden_field :board_id, value: @board.id %>
	  <%= f.text_field :title %>
	  <%= f.submit %>
	<% end %>
</ul>
