<h1>Board: <%= @board.name %></h1>
<p><%= link_to 'New list', new_board_list_path(@board)  %>
 	<%= link_to 'Edit', edit_board_path(@board) %>
 	<%= link_to 'Destroy', board_path(@board), 'data-confirm' => 'Are you sure?' ,method: :delete %>
</p>


<h2 id='labels-list' class='labels'> List of lists</h2>
<ul id='list'>
	<% @board.lists.each do |list| %>
		<li id="new-list-<%= list.id %>" class='list-column'><%= link_to list.name, board_list_path(@board, list)  %>
	  	<%= link_to 'Destroy', board_list_path(@board, list), method: :delete, remote: true %>
	  	<ul class="cards"> 
	  		<% list.cards.each do |card| %> 

	  		  <li id="new-list-<%= list.id %>" class="card-in-list"><%= link_to card.name, list_card_path(list, card) %></li>

	  		  <li id="new-card-<%= card.id %>"><%= link_to card.name, list_card_path(list, card)%>
	  		  <%= link_to 'Destroy', list_card_path(list, card), method: :delete, remote: true %>

	  		<% end %>
	  		</li>

	  		<li>
	  			<p>Create new card</p>
				<% new_card = list.cards.new %>
				<%= form_for [list, new_card], remote: true do |f| %>
				  <%= f.hidden_field :list_id, value: list.id %>
				  <%= f.text_field :name %>
				  <%= f.submit %>
				<% end %>
	  		</li>
	  	</ul>
	  </li>
	<% end %>
</ul>

<p>Create new list</p>
<% new_list = @board.lists.new %>
<%= form_for [@board, new_list], remote: true do |f| %>
  <%= f.hidden_field :board_id, value: @board.id %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<p>Create new event</p>
<% new_event = @board.events.new %>
<%= form_for [@board, new_event], remote: true do |f| %>
  <%= f.hidden_field :board_id, value: @board.id %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>

<ul id='event'>
	<% @board.events.each do |event| %>
	  		<li id="new-event-<%= event.id %>"><%= link_to event.title, board_event_path(@board, event)  %>
	  		<%= link_to 'Destroy', board_event_path(@board, event), method: :delete, remote: true %>
	  		<% end %>
	  		</li>
	<p>Create new event</p>
	<% new_event = @board.events.new %>
	<%= form_for [@board, new_event], remote: true do |f| %>
	  <%= f.hidden_field :board_id, value: @board.id %>
	  <%= f.text_field :title %>
	  <%= f.submit %>
	<% end %>
</ul>
