<h1>Board: <%= @board.name %></h1>
<p><%= link_to 'New list', new_board_list_path(@board)  %>
 	<%= link_to 'Edit', edit_board_path(@board) %>
 	<%= link_to 'Destroy', board_path(@board), 'data-confirm' => 'Are you sure?' ,method: :delete %>
</p>


<h2 id='labels-list' class='labels'> List of lists</h2>
<ul id='list'>
	<% @board.lists.each do |list| %>
		<li id="new-list-<%= list.id %>"><%= link_to list.name, board_list_path(@board, list)  %>
	  	<%= link_to 'Destroy', board_list_path(@board, list), method: :delete, remote: true %>
	  	<ul class="cards"> 
	  		<% list.cards.each do |card| %> 
	  		  <li id="new-list-<%= list.id %>"><%= card.name %></li>
	  		<% end %>
	  		<li>
	  			<p>Create new card</p>
				<% new_card = list.cards.new %>
				<%= form_for [list, new_card], remote: true do |f| %>
				  <%= f.hidden_field :list_id, value: list.id %>
				  <%= f.text_field :name %>
				  <%= f.submit %>
				<% end %>
	  		</li>
	  	</ul>
	  </li>
	<% end %>
</ul>

<p>Create new list</p>
<% new_list = @board.lists.new %>
<%= form_for [@board, new_list], remote: true do |f| %>
  <%= f.hidden_field :board_id, value: @board.id %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

