<h1 style="margin-top: 7px; margin-left: 10px; margin-bottom: 0px; "><%= @board.name %></h1>

<ul id='list'>
	<% @board.lists.order('list_position ASC').each do |list| %>
		
	  <%= render('list_modal', board: @board, list: list) %>

	<% end %>

<div>

	<% new_list = @board.lists.new %>
	<%= form_for [@board, new_list], remote: true do |f| %>
	  <%= f.hidden_field :board_id, value: @board.id %>
	  <%= f.hidden_field :user_id, value: current_user.id %>
	  <%= f.text_field :name, placeholder: "Add a list..." %>
	<% end %>

	<a href="#" id="menu-icon" ><%= fa_icon "sliders" %>Menu</a>

<div id="menu-icon-content" style="display: none">

	<p>Activity</p>

	    <ul>
		<% @board.activities.order('created_at DESC').each do |activity| %>
			<% if activity.action == "moved" %>
			<li><%= activity.user.name %> <%= activity.action %> this card  <%= activity.description %> <%= time_ago_in_words(activity.created_at) %> ago </li>
			<% else%>
			<li><%= activity.user.name %> <%= activity.action %> <%= activity.description %><%= time_ago_in_words(activity.created_at)  %> ago </li>
		<% end%>
		<% end%>
		</ul>

</div>

</div>
</ul>
