<h1><%= @board.name %></h1>

<label>due date</label>
		<input id='board-due-date' type='text' />

<ul id='list'>
	<% @board.lists.each do |list| %>
		
	  <%= render('list_modal', board: @board, list: list) %>
  
	<% end %>


<div>

<% new_list = @board.lists.new %>
<%= form_for [@board, new_list], remote: true do |f| %>
  <%= f.hidden_field :board_id, value: @board.id %>
  <%= f.text_field :name, placeholder: "Add a list..." %>
<% end %>
</div>
</ul>

<ul id='event'>
	<% @board.events.each do |event| %>
	  		<li id="new-event-<%= event.id %>"><%= link_to event.title, board_event_path(@board, event)  %>
	  		<%= link_to 'Destroy', board_event_path(@board, event), method: :delete, remote: true %>
	  		<% end %>
	  		</li>
	<p>Create new event</p>
	<% new_event = @board.events.new %>
	<%= form_for [@board, new_event], remote: true do |f| %>
	  <%= f.hidden_field :board_id, value: @board.id %>
	  <%= f.text_field :title %>
	  <%= f.submit %>
	<% end %>

</ul>


