<div>

<p>Insert picture</p>

	<%= form_for @board, :html => { :multipart => true }  do |f| %>

	<%= f.file_field :photo %>

	<%= f.submit "Save"%>

	<%= link_to 'Edit', edit_board_path(@board) %>

	<%= link_to 'Destroy', board_path(@board), method: :delete %>

	<%= image_tag @board.photo.url(:medium) %>

	<%end%>


</div>

<h1><%= @board.name %></h1>

<ul id='list'>
	<% @board.lists.order('created_at DESC').each do |list| %>
		
	  <%= render('list_modal', board: @board, list: list) %>
  
	<% end %>


<div>

<% new_list = @board.lists.new %>
<%= form_for [@board, new_list], remote: true do |f| %>
  <%= f.hidden_field :board_id, value: @board.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.text_field :name, placeholder: "Add a list..." %>
<% end %>
</div>
</ul>

<ul id='event'>
	<% @board.events.each do |event| %>
	  		<li id="new-event-<%= event.id %>"><%= link_to event.title, board_event_path(@board, event)  %>
	  		<%= link_to 'Destroy', board_event_path(@board, event), method: :delete, remote: true %>
	  		<% end %>
	  		</li>
	<p>Create new event</p>
	<% new_event = @board.events.new %>
	<%= form_for [@board, new_event], remote: true do |f| %>
	  <%= f.hidden_field :board_id, value: @board.id %>
	  <%= f.text_field :title %>
	  <%= f.submit %>
	<% end %>

</ul>


