<h1>Dashboards</h1>
<div>
	<% @boards.each do |board| %>
		<h3><Strong>Statistics <%=board.name%></Strong></h3>
		<h4>Number of lists: <%= board.lists.count %></h4>
		<% cards = Card.where(list_id: board.lists.select(:id))%>
		<h4>Number of cards: <%= cards.count %></h4>
		<% cards_users = CardsUser.where(card_id: cards)%>
		<h4>Number of members: <%= User.where(id: cards_users.select(:user_id)).count %></h4>
		<h4>Number of comments : <%= Comment.where(card_id: cards).count %></h4>
		<h4>Average number of comments for a card : <%= (Comment.where(card_id: cards, user_id: current_user.id).count.to_f / cards.count).round(3) %></h4>
		<h4>Quantity comments of current user :<%= Comment.where(card_id: cards, user_id: current_user.id).count%></h4>
	<%end%>
</div>