<h1>Create new card</h1>

  <%= form_for [@list, @card], html: { multipart: true } do |f| %>
   <%= f.label :title %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.hidden_field :list_id, value: @list.id %>

  <%= f.file_field :file %>

  <%= f.submit %>

<% end %>

